[submodule "thomashoneyman"]
	path = thomashoneyman
	url = https://github.com/thomashoneyman/.dotfiles
[submodule "bobvanderlinden"]
	path = bobvanderlinden
	url = git@github.com:bobvanderlinden/nixos-config.git
[submodule "Wolfereign"]
	path = Wolfereign
	url = git@github.com:Wolfereign/nixos-configs.git
[submodule "Jomik"]
	path = Jomik
	url = git@github.com:Jomik/dotfiles.git
[submodule "rcherrueau"]
	path = rcherrueau
	url = git@github.com:rcherrueau/.dotfiles.git
[submodule "Mic92"]
	path = Mic92
	url = git@github.com:Mic92/dotfiles.git
[submodule "oyren"]
	path = oyren
	url = git@github.com:oyren/dotfiles.git
[submodule "srghma"]
	path = srghma
	url = git@github.com:srghma/dotfiles.git
[submodule "xvapx"]
	path = xvapx
	url = git@github.com:xvapx/nixos-dotfiles.git
[submodule "rtfeldman"]
	path = rtfeldman
	url = git@github.com:rtfeldman/dotfiles.git
[submodule "johnae"]
	path = johnae
	url = git@github.com:johnae/nixdot.git
[submodule "garbas"]
	path = garbas
	url = git@github.com:garbas/dotfiles.git
[submodule "kamilchm"]
	path = kamilchm
	url = git@github.com:kamilchm/.nixpkgs.git
[submodule "datakurre"]
	path = datakurre
	url = git@github.com:datakurre/nix-files.git
[submodule "cprussin"]
	path = cprussin
	url = git@github.com:cprussin/dotfiles.git
[submodule "k0ral"]
	path = k0ral
	url = git@github.com:k0ral/dotfiles.git
[submodule "rasendubi"]
	path = rasendubi
	url = git@github.com:rasendubi/dotfiles.git
[submodule "abbradar"]
	path = abbradar
	url = git@github.com:abbradar/dotfiles.git
[submodule "gmarmstrong"]
	path = gmarmstrong
	url = git@github.com:gmarmstrong/dotfiles.git
[submodule "utdemir"]
	path = utdemir
	url = git@github.com:utdemir/dotfiles.git
