[submodule "thomashoneyman"]
	path = thomashoneyman
	url = https://github.com/thomashoneyman/.dotfiles
[submodule "bobvanderlinden"]
	path = bobvanderlinden
	url = https://github.com/bobvanderlinden/nixos-config
[submodule "Wolfereign"]
	path = Wolfereign
	url = https://github.com/Wolfereign/nixos-configs
[submodule "Jomik"]
	path = Jomik
	url = https://github.com/Jomik/dotfiles
[submodule "rcherrueau"]
	path = rcherrueau
	url = https://github.com/rcherrueau/.dotfiles
[submodule "Mic92"]
	path = Mic92
	url = https://github.com/Mic92/dotfiles
[submodule "oyren"]
	path = oyren
	url = https://github.com/oyren/dotfiles
[submodule "srghma"]
	path = srghma
	url = https://github.com/srghma/dotfiles
[submodule "xvapx"]
	path = xvapx
	url = https://github.com/xvapx/nixos-dotfiles
[submodule "johnae"]
	path = johnae
	url = https://github.com/johnae/nixdot
[submodule "garbas"]
	path = garbas
	url = https://github.com/garbas/dotfiles
[submodule "kamilchm"]
	path = kamilchm
	url = https://github.com/kamilchm/.nixpkgs
[submodule "datakurre"]
	path = datakurre
	url = https://github.com/datakurre/nix-files
[submodule "cprussin"]
	path = cprussin
	url = https://github.com/cprussin/dotfiles
[submodule "k0ral"]
	path = k0ral
	url = https://github.com/k0ral/dotfiles
[submodule "abbradar"]
	path = abbradar
	url = https://github.com/abbradar/dotfiles
[submodule "gmarmstrong"]
	path = gmarmstrong
	url = https://github.com/gmarmstrong/dotfiles
[submodule "utdemir"]
	path = utdemir
	url = https://github.com/utdemir/dotfiles
[submodule "3noch"]
	path = 3noch
	url = https://github.com/3noch/dotfiles
[submodule "ceedubs"]
	path = ceedubs
	url = https://github.com/ceedubs/dotfiles
[submodule "tmrts"]
	path = tmrts
	url = https://github.com/tmrts/dotfiles
[submodule "iAmMrinal0"]
	path = iAmMrinal0
	url = https://github.com/iAmMrinal0/nix-config
[submodule "peel"]
	path = peel
	url = https://github.com/peel/dotfiles
[submodule "nikitavoloboev"]
	path = nikitavoloboev
	url = https://github.com/nikitavoloboev/dotfiles
[submodule "womfoo"]
	path = womfoo
	url = https://github.com/womfoo/dotfiles
[submodule "ebzzry"]
	path = ebzzry
	url = https://github.com/ebzzry/dotfiles
[submodule "attente"]
	path = attente
	url = https://github.com/attente/dotfiles
[submodule "davidtwco"]
	path = davidtwco
	url = https://github.com/davidtwco/veritas.git
[submodule "NobbZ"]
	path = NobbZ
	url = https://gitlab.com/NobbZ/nix-home-manager-dotfiles.git
[submodule "mightybyte"]
	path = mightybyte
	url = https://gitlab.com/mightybyte/dotfiles-nix.git
[submodule "rawkode"]
	path = rawkode
	url = https://gitlab.com/rawkode/dotfiles.git
[submodule "jabranham"]
	path = jabranham
	url = https://gitlab.com/jabranham/dotfiles.git
[submodule "karetsu"]
	path = karetsu
	url = https://gitlab.com/karetsu/nix-overlays.git
[submodule "steveej"]
	path = steveej
	url = https://gitlab.com/steveeJ/infra.git
[submodule "pinage404"]
	path = pinage404
	url = https://gitlab.com/pinage404/dotfiles.git
[submodule "nyarla"]
	path = nyarla
	url = https://gitlab.com/nyarla/nixos-configurations.git
[submodule "NickSeagull"]
	path = NickSeagull
	url = https://gitlab.com/NickSeagull/dotfiles.git
[submodule "sthordall"]
	path = sthordall
	url = https://gitlab.com/sthordall/dotfiles.git
[submodule "SoftwareSucks"]
	path = SoftwareSucks
	url = https://gitlab.com/SoftwareSucks/nixdf.git
[submodule "iblech"]
	path = iblech
	url = https://gitlab.com/iblech/dotfiles.git
[submodule "ivanbrennan"]
	path = ivanbrennan
	url = https://gitlab.com/ivanbrennan/dotfiles.git
[submodule "ooelili"]
	path = ooelili
	url = https://gitlab.com/ooesili/dotfiles.git
[submodule "jD91mZM2"]
	path = jD91mZM2
	url = https://gitlab.com/jD91mZM2/dotfiles.git
[submodule "Bleu-Box"]
	path = Bleu-Box
	url = https://gitlab.com/Bleu-Box/dotfiles.git
[submodule "alanpearce"]
	path = alanpearce
	url = https://gitlab.com/alanpearce/dotfiles.git
[submodule "Melkor333"]
	path = Melkor333
	url = https://gitlab.com/Melkor333/dotfiles.git
[submodule "jhampton"]
	path = jhampton
	url = https://gitlab.com/jhampton/dot-files.git
[submodule "Jooakim"]
	path = Jooakim
	url = https://gitlab.com/Jooakim/dotfiles.git
[submodule "areina"]
	path = areina
	url = https://github.com/areina/nixos-config.git
[submodule "barrucadu"]
	path = barrucadu
	url = https://github.com/barrucadu/nixfiles.git
[submodule "coreyoconnor"]
	path = coreyoconnor
	url = https://github.com/coreyoconnor/nix_configs.git
[submodule "CrazedProgrammer"]
	path = CrazedProgrammer
	url = https://github.com/CrazedProgrammer/nix.git
[submodule "davidak"]
	path = davidak
	url = https://github.com/davidak/nixos-config.git
[submodule "ixxie"]
	path = ixxie
	url = https://github.com/ixxie/mesoconfig.git
[submodule "jwiegley"]
	path = jwiegley
	url = https://github.com/jwiegley/nix-config.git
[submodule "lesobotelho"]
	path = lesobotelho
	url = https://github.com/leosbotelho/cartons.git
[submodule "Luis-Hebendanz"]
	path = Luis-Hebendanz
	url = https://github.com/Luis-Hebendanz/nix-configs.git
